#timer{
    float: right;
    width: 100px;
}

body{
    
    padding-left: 15%;
    padding-right: 15%;
}

header{
    margin-top: 10%;
}
#mainHeader, .mainText{
    margin: auto;
    text-align: center;
    background-color: lightblue;
    padding-top: 10%;
    padding-bottom: 2%;

}

#initialParagraph{
    margin:auto;
    padding: 2%;
    text-align: center;
    background-color: lightsteelblue;
}

.answerBttn{
    background-color: lightblue;
    width: 250px;
    margin: 1%;
}
.answerSection{
    padding-left: 0;
}

.answerBttn:hover{
    background-color: cadetblue;
}
.clicked{
    background-color: lightsalmon;
}

.pOne{
    text-align: center;
}

.answerBttn:focus{
    background-color: cadetblue;
}
#next, #previous{
    text-align: center;
}
.finalresult{
    margin: 0;
    padding: 2%;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: lightgray;
}
#myform{
    background-color: lightblue;
    padding: 10%;
    
}

.submitbttn{
    background-color: lightseagreen;
    text-align: center;
    margin-left: 5%;
    border: none;
}

#timeUp{
    height: 10%;
    text-align: center;
    margin: 10%;
}

@media screen and (max-width: 550px){
    body{
        padding: 0;
    }
}