#timer{
    float: right;
    width: 100px;
}

body{
    
    padding-left: 15%;
    padding-right: 15%;
}
#mainHeader, .mainText{
    margin: auto;
    text-align: center;
    background-color: lightblue;
    padding-top: 10%;
    padding-bottom: 2%;

}

#initialParagraph{
    margin:auto;
    text-align: center;
    background-color: lightsteelblue;
}

.answerBttn{
    background-color: lightblue;
    width: 250px;
    margin: 1%;
}
.answerSection{
    padding-left: 0;
}

.answerBttn:hover{
    background-color: cadetblue;
}


.pOne{
    text-align: center;
}

.answerBttn:focus{
    background-color: cadetblue;
}
#next, #previous{
    text-align: center;
}

@media screen and (max-width: 550px){
    body{
        padding: 0;
    }
}